.input {
  position: relative;

  .input__remove.show {
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 15px;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    border: 1px solid $black;
    border-radius: 5px;
    cursor: pointer;

    &::after {
      content: "";
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 18px;
      height: 18px;
      background: url("../../images/stroke-left.svg") 50% 50% no-repeat;
    }
  
    &::before {
      content: "";
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 18px;
      height: 18px;
      background: url("../../images/stroke-right.svg") 50% 50% no-repeat;
    }
  }
  
  &__text {
    width: 100%;
    border: 2px solid $light-gray;
    border-radius: 10px;
    padding: 17px 15px;

    &::placeholder {
      font-family: 'Roboto Slab', sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: $gray;
    }

    &:focus {
      border: 2px solid $dark-blue;
      
      & + label {
        color: $dark-blue;
      }
    }
  }
}