.more-options {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: $dark-blue;
  padding-left: 32px;
  cursor: pointer;
  margin-bottom: 48px;

  &::before {
    position: absolute;
    content: "";
    background: url("../images/plus.svg") 50% 50% no-repeat;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}