.select {
  position: relative;

  &.open &__list {
    display: block;
  }

  &.open &__checked {
    border: 2px solid $dark-blue;
  }

  &__dropdown {
    position: relative;
    width: 120px;
    cursor: pointer;

    &.down::after {
      background: url("../../public/images/down.svg") 50% 50% no-repeat;
    }

    &.up::after {
      background: url("../../public/images/up.svg") 50% 50% no-repeat;
    }

    &::after {
      position :absolute;
      content: "";
      width: 18px;
      height: 18px;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
    }
  }

  &__checked {
    background-color: $white;
    width: 100%;
    border: 2px solid $light-gray;
    border-radius: 10px;
    padding: 17px 15px;
  }

  &__list {
    width: 120px;
    position: absolute;
    top: 80%;
    width: 120px;
    border: 2px solid $light-gray;
    border-radius: 10px;
    background-color: white;
    z-index: 1;
    display: none;

    // &.open {
    //   display: block;
    // }
  }

  &__item {
    padding: 12px 14px;

    &.checked {
      position: relative;
      font-weight: 600;

      &::after {
        content: "";
        position: absolute;
        background: url("../../public/images/checked.svg") 50% 50% no-repeat;
        top: 50%;
        right: 16px;
        width: 14px;
        height: 14px;
        transform: translateY(-50%);
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .select {
    &__dropdown {
      width: 100%;
    }

    &__list {
      width: 100%;
    }
  }
}

